// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
background-color = #232323
color-default = #d9d9d9
color-gray = #787c93
color-border = #383449
color-accent = #393156
color-code-accent = #dfd9f5
color-code-border = #4a3e76
color-code-background = #393156
color-link = #ba9fff
color-link-hover = #869bfc
background-gradient = linear-gradient(135deg, #667eea 0%, #764ba2 100%);

// Typography
font-sans = "Open Sans", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = "Fugaz One", cursive
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
