layout: index
description: A GraphQL bastion server
subtitle: A GraphQL bastion server
comments: false
install: yarn add bunjil
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-handshake-o
      h3.intro-feature-title Authorization
      p.intro-feature-desc Bunjil comes integrated with the powerful Policy Based Access Control system <code>wahn</code>. Restrict access to queries, mutations, and even fields based on detailed conditions. #[br] #[br] <a href="/guides/authorization"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Learn how to use Bunjil's Authorization</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-compress
      h3.intro-feature-title Schema Merging
      p.intro-feature-desc Merge multiple upstream GraphQL schemas from Prisma, Neo4j, AWS and more, into one cohesive secured public schema. #[br] #[br] <a href="/guides/schema-merging"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Learn how to merge multiple upstream schemas</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-id-card-o
      h3.intro-feature-title Authentication
      p.intro-feature-desc Bunjil works with your current authentication system, by providing a simple hook — allowing you to integrate with any authentication provider. #[br] #[br] <a href="/guides/authentication"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Learn how to integrate your preferred authentication</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-globe
      h3.intro-feature-title Caching
      p.intro-feature-desc Reduce load on your upstream servers by defining caching rules for your schema and set defaults to fallback to. <i>(Coming soon).</i>