layout: index
description: Wedgetail is a testing utility to help you ensure your app stays performant.
subtitle: A GraphQL bastion server
comments: false
install: yarn add bunjil
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Authorization
      p.intro-feature-desc Bunjil comes integrated with the powerful Policy Based Access Control system <code>wahn</code>. Restrict access to queries, mutations, and even fields based on detailed conditions. #[br] <a href="/guides/authorization">&#10097; Learn how to use Bunjil's Authorization</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-tachometer
      h3.intro-feature-title Schema Merging
      p.intro-feature-desc Merge multiple upstream GraphQL schemas from Prisma, Neo4j, AWS and more, into one cohesive secured public schema. #[br] <a href="/guides/schema-merging">&#10097; Learn how to merge multiple upstream schemas</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-paper-plane
      h3.intro-feature-title Authentication
      p.intro-feature-desc Bunjil works with your current authentication system, by providing a simple hook — allowing you to integrate with any authentication provider. #[br] <a href="/guides/authentication">&#10097; Learn how to integrate your preferred authentication</a>
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-check
      h3.intro-feature-title Caching
      p.intro-feature-desc Reduce load on your upstream servers by defining caching rules for your schema and set defaults to fallback to. <i>(Coming soon).</i>